
              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Original Image
                    <form method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                      {% csrf_token %}
                      <div class="input-group" style="margin-left: 680px;">
                        <input name="degree" type="text" class="form-control bg-light border-1 small" placeholder="Rotation degree (ex: 90)" aria-label="Search" aria-describedby="basic-addon2" />
                        <input type="hidden" name="displayFromPallet" value="{{ displayFile }}" />
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">
                            <i class="fas fa-check fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </h6>
                </div>
                <div class="card-body">
                  <div style="padding: 20px;">
                   <center><img src="http://127.0.0.1{{ displayFile }}" alt="Original Image" style="max-height: 100%; max-width: 100%"></center>
                  </div>
                </div>
              </div>
