{% load static %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "pymage/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "pymage/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "pymage/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "pymage/js/sb-admin-2.min.js" %}"></script>

  <!-- Page level plugins -->
  <script src="{% static "pymage/vendor/chart.js/Chart.min.js" %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static "pymage/js/demo/chart-area-demo.js" %}"></script>
  <script src="{% static "pymage/js/demo/chart-pie-demo.js" %}"></script>

  <!-- Drag and Drop Upload-->
  <script src="{% static "pymage/assets/app.js" %}"></script>

  <!-- CropJS -->
  <script src="{% static "pymage/vendor/jcrop/js/jquery.Jcrop.min.js" %}"></script>
  <script type="text/javascript">
    $(function(){
        $("#cropbox").Jcrop({
        onSelect: updateCoords,
        });
    });
    function updateCoords(c)
    {
        $("#x").val(c.x);
        $("#y").val(c.y);
        $("#w").val(c.w);
        $("#h").val(c.h);
        $("#act").removeAttr("disabled");
    };
  </script>