        <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            

          </ul>

          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Made with <i class="fa fa-heart"></i> by <b>Anwar</b></span>

        </nav>