          <!-- Card Upload -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-arrow-circle-up"></i> Upload Image</h6>
              </div>
              <div class="card-body">
                <section>
                  <form action="" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="preview-zone hidden">
                              <div class="box box-solid">
                                <div class="box-header with-border">
                                    <div class="box-tools pull-right">
                                    </div>
                                  </div>
                                <div class="box-body"></div>
                              </div>
                            </div>
                            <div class="dropzone-wrapper">
                            <div class="dropzone-desc">
                              <i class="fas fa-fw fa-upload"></i>
                                <p>Choose an image file or drag it here.</p>
                            </div>
                            <input type="file" name="imagefile" class="dropzone">
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary pull-right">Upload</button>
                        </div>
                      </div>
                    </div>      
                  </form>    
                </section>
              </div>
          </div>
